# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace  = true

[{*.js,package.json,circle.yml}]
indent_style = space
indent_size = 2
